@import 'tailwindcss';
@import './theme.css';
@import './base.css';
@import './components.css';
@import './utilities.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);

  --color-black: oklch(0% 0 0);
  --color-white: oklch(100% 0 0);

  /* Figma Design System Colors */
  --color-primary-1: #00c800;
  --color-primary-2: #bbf7d0;
  --color-primary-3: #ecfdf5;

  --color-gray-1: #222222;
  --color-gray-2: #717171;
  --color-gray-3: #c4c4c4;
  --color-gray-4: #f5f5f5;

  --color-gray-100: rgba(113, 113, 113, 1);
  --color-gray-80: rgba(113, 113, 113, 0.8);
  --color-gray-50: rgba(113, 113, 113, 0.5);
  --color-gray-20: rgba(113, 113, 113, 0.2);
}
