@utility screen-height {
  @apply h-screen;
  @apply h-dvh;
}

@utility text-balance {
  text-wrap: balance;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
